*{
	font-family: 'Roboto', sans-serif;
}

.bg-wrapper{
	position: absolute;
    top: 0;
    left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
}

.tint,
.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}

.bg {
	background-color: gray;
    background-image: url(res/album/i1.jpg);
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    transform: scale(1.1);
    transition: 1s;
}

.bg.zoom{
	transform: scale(1.2);
	filter: blur(15px);
}

.tint{
	background: rgba(0, 0, 0, 0.32);
}


.nav{
	padding: 12px 18px;
    color: #dbdbdb;
    font-weight: 100;
    font-size: 13px;
}

.spectrum-player{
	box-shadow: 9px 4px 20px #00000061;
}