*{
	font-family: 'Roboto', sans-serif;
}

.bg-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
}

.tint,
.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}

.bg {
	background-color: gray;
	background-image: url(res/album/i1.jpg);
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(10px);
	        filter: blur(10px);
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.bg.zoom{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-filter: blur(15px);
	        filter: blur(15px);
}

.tint{
	background: rgba(0, 0, 0, 0.32);
}

.nav{
	padding: 12px 18px;
	color: #dbdbdb;
	font-weight: 100;
	font-size: 13px;
}

.nav #theme-name{
	font-weight: 600;
}

.nav h4{
	border-bottom: 1px solid #a0a0a0;
    padding-bottom: 8px;
    margin: 0 0 10px 0;
    display: inline-block;
    font-weight: 100;
}

.nav a{
	text-decoration: none;
	color: #b3b3b3;
	display: block;
	font-size: 10px;
	margin-bottom: 2px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.nav a:hover{
	color: white;
}

.spectrum-player{
	-webkit-box-shadow: 9px 4px 20px #00000061;
	        box-shadow: 9px 4px 20px #00000061;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#spectrum-art{
	background-image: url(res/album/i1.jpg);
}