/* CUSTOM AUDIO PLAYER */
.spectrum-player{
	font-family: sans-serif;
	margin-bottom: 20px;
	max-width: 600px;
}

.spectrum-player a{
	color: #7a7a7a;
	transition: 0.3s;
}

.spectrum-player a:hover{
	color: #232323;
}



/* HEADER */

.spectrum-player .player-header{
  background: #F2F3F5;
  padding: 10px 20px;
  margin-bottom: -5px;
}

.spectrum-player .player-header .player-control{
  margin-right: 16px;
  vertical-align: middle;
  display: inline-block;
}

.spectrum-player .player-header [data-control="playpause"] {
    width: 18px;
    margin-right: 8px;
}

.spectrum-player .player-header [data-control="muteunmute"] {
    width: 16px;
    margin-right: 10px;
}

.spectrum-player .player-header span.player-timer {
  font-size: 12px;
}

.spectrum-player .player-header .player-volume{
  width: 60px;
  display: inline-block;
}

.spectrum-player .player-header .player-volume .volume-knob{
  width: 75%;
 background: #FC466B;  /* fallback for old browsers */
 /* background: -webkit-linear-gradient(to right, #c8c8c8, #c8c8c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c8c8c8, #c8c8c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: #0B87A3;*/
  transition: background 0.9s, width 0.1s;
}

.spectrum-player .player-header .player-volume:hover .volume-knob{
  background: #FC466B;  /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* BODY */

.spectrum-player .player-body{
  background: #E3E5E7;
  padding: 10px 20px;
  margin-top: -5px;
}

.spectrum-player .player-body ol{
  margin: 0;
  padding-left: 20px;
  color: #888;
}

.spectrum-player .player-body ol li{
  padding-left: 5px;
}

.spectrum-player .player-body .song-item{
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  text-decoration: none;
}

.spectrum-player .player-body .song-item.active{
  color: #0B87A3;
}

.spectrum-player .player-body audio.hidden-audio{
  display: none;
}



/* PROGRESS BAR */

.spectrum-player .player-timeline{
  width: 100%;
  display: block;
}

.spectrum-player .player-timeline,
.spectrum-player .player-volume{
  height: 2px;
  padding: 5px 0px;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  cursor: pointer;
}

.spectrum-player .bar-back{
  width: 100%;
  background: #dedede;
  z-index: 0;
}

.spectrum-player .bar-back,
.spectrum-player .player-timeline .playhead,
.spectrum-player .player-timeline .buffer,
.spectrum-player .player-header .player-volume .volume-knob{
  position: absolute;
  height: 2px;
  left: 0;
}

.spectrum-player .player-timeline .playhead{
  overflow: visible;
  /*background: #0B87A3;*/
  transition: 0.1s;

  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.spectrum-player .player-timeline .buffer{
  background: #c8c8c8;
  transition: 0.3s;
}

.spectrum-player .player-timeline .playhead:after,
.spectrum-player .player-volume .volume-knob:after{
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: white;
  right: 0px;
  transition: 0.2s;
}

.spectrum-player .player-timeline:hover .playhead:after,
.spectrum-player .player-volume:hover .volume-knob:after{
  width: 8px;
  right: -4px;
}